body{
    background-color: whitesmoke;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}
header{
    color:black;
    background-color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    border:3px solid white;
    border-radius: 20%;

}
input{
    color:white;
    background-color:black ;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}
button{
    color:white;
    background-color: red;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}
p{
    color:black;
    background-color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;  
    border:  solid white;
}
.pokemon-picture{
    border:solid white;
}
.pokemon-info{
    border:solid white;
}